.private-browsing-indicator {
	border: 2px solid #d0d;
	border-radius: 20px;
	display: none;
	background-color: #000 !important;
}

#TabsToolbar-customization-target {
    height: 28px !important
}

:root[tabsintitlebar] .tab-label:-moz-window-inactive {
	color: red;
}

#navigator-toolbox[fullscreenShouldAnimate] {
	transition: none !important;
}

[uidensity='compact']:root {
	--tab-min-height: 16px !important;
	--newtab-margin: -3px 0 -3px -3px !important;
}

#tabbrowser-tabs {
	height: 28px !important;
	min-height: 26px !important;
}

#tab-close-button {
	padding: 5px !important;
	margin: 1px -8px 0 0 !important;
	width: 20px !important;
	height: 20px !important;
}

#tabs-newtab-button {
	display: none;
}


:root[uidensity='compact'] #tabbrowser-tabs {
	--tab-min-height: var(--tab-min-height) !important;
}

.tabbrowser-tab {
	fill: magenta !important;
	max-height: var(--tab-min-height) !important;
}

.close-icon {
	max-height: 30px !important;
}

.close-icon:hover {
	fill: black !important;
	background-color: red !important;
	border-radius: 1px;
}


#tabs-newtab-button {
	fill: magenta !important;
	margin: var(--newtab-margin) !important;
}

#urlbar {
	background-color: magenta !important;
	height: 10px !important;
}

.tab-content {
	height: 26px !important;
}
.tab-background[selected='true'] {
	height: 20px !important;
	min-height: 20px !important;
	background-color: darkred !important;
}

tab[selected='true'] {
	-moz-appearance: none !important;
	color: red !important;
	background-color: #ffffff;
}

tab:not([selected='true']) {
	color: magenta !important;
}

#forward-button,
#back-button,
#reload-button,
#PanelUI-menu-button,
#nav-bar-overflow-button,
#new-tab-button,
#library-button,
#stop-button {
	fill: magenta !important;
}

.scrollbox-clip, #nav-bar, #PersonalToolbar {
	background-color: black !important;
}

.tab-loading-burst {
	background-color: #000000 !important;
}

:root {
	scrollbar-color: magenta #0000 !important;
	scrollbar-width: thin !important;
	--autocomplete-popup-highlight-background: rgba(0,0,0,1) !important;
	--autocomplete-popup-highlight-color: white !important;
}

#urlbar:not(.megabar),
#urlbar.megabar > #urlbar-background,
#searchbar {
	background-color: #ffffff00 !important;
	color: magenta !important;
	border-color: #ffffff !important;
}
#urlbar:not(.megabar)[focused='true'],
#urlbar.megabar[focused='true'] > #urlbar-background,
#searchbar[focused='true'] {
	background-color: #ffffff !important;
	border-color: #5b6e8b !important;
}

.urlbarView-row {
	border: 2px solid darkmagenta !important;
	border-radius: 5px !important;
	background-color: #000000A8 !important;
}

.urlbarView-row:hover {
	border-color: magenta !important;
	border-style: dashed !important;
	background-color: #000000 !important;
}

#category-more-from-mozilla {
  display: none !important;
}
